body {
    background: rgb(231, 234, 236);
    color: rgb(34, 37, 39);
    font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 500px;
}

#cs .item {
    text-align: center;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    opacity: 0.75;
    display: block;
}

#cs .item:hover .info {
    display: block;
}

#cs .icon {
    display: block;
    padding: 20px 15px;
}

#cs .item1 .icon .fa {
    color: rgb(248, 99, 52);
}

#cs .item .icon .fa {
    font-size: 60px;
}

#cs .item .text {
    display: block;
    text-align: left;
    background: rgb(245, 245, 245);
    border-top: 1px solid rgb(233, 233, 233);
    font-size: 14px;
    font-weight: bold;
    border-radius: 0 0 3px 3px;
}

#cs .item .text span {
    display: block;
    color: rgb(102, 102, 102);
    padding: 6px 15px;
}

.panel {
    margin-bottom: 50px;
}

.header {
    margin-bottom: 50px;
}

.info {
    position: absolute;
    top: 0;
    left: 17px;
    right: 0;
    bottom: 0;
    padding: 10px;
    text-align: left;
    background: rgb(255, 255, 255);
    width: 260px;
    height: 133px;
    display: none;
    border-radius: 0 0 3px 3px;
    color: rgb(102, 102, 102);
}

.tab-text {
    color: black;
    &:hover {
        color: black!important;
    }
}

.tab-pane {
    .row {
        margin-top: 10px;
    }
}